doctype html
html(lang="en")
  head
    title= title
  body
    h1 Marvel Api Project
    #container.col
      p.
        This app can render a title and description of any existing marvel story by ID.
        Visit '/marvel-story/:id' where ':id' is the id of a Marvel-Story to view the file.

      h1 OR Click on one of the links below to see examples
      ul
        li: a(href='/marvel-story/23998') Punisher
        li: a(href='/marvel-story/918') Fantastic 4
        li: a(href='/marvel-story/1974') Weapon X
